extends layout

block content
  h1= "Welcome to the homepage of an amazing site (still under construction!!)"
  p #{title}
  p= "the following pages are written to help you understand my deepest secrets. So sit back and enjoy the tour. It will be amazing"
